#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  background-color: #ede5e5 !important;
}

.main-container {
  padding: 30px;
}

.numbers-container {
  max-width: 50vw;
  columns: 5;
  text-align: left;
  font-size: large;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
    padding: 5px;
}

.dark {
  background: black;
  color: white;
}